@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
:root{
    font-size: 20px;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: black;
}
body,
html{
    overflow-x: hidden;
    position: relative;
}
.up{
    background-image: linear-gradient(to bottom left, #44ECE9, #ffe0fd);
    min-height: 103vh;
}
header{
    max-width: 80%;
    margin: auto;
    padding-top: 10px;
    backdrop-filter: blur(20px);
}
header label{
    border-radius: 8px;
    z-index: 11;
    position: relative;
    bottom: 16px;
    right: 8px;
    cursor: pointer;
    transition: 0.11s;
}
header label:active{
    scale: 1.1;
}
header label i{
    font-size: 30px;
    position: absolute;
    left: -30px;
    top: -10px;
    color: #f59b42;
}
header label i:nth-child(2){
    opacity: 0;
}
header input{
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}
header input:checked ~ ul{
    right: -13%;
}
header input:checked + label i:nth-child(2){
    opacity: 1;
}
header input:checked + label i:nth-child(1){
    opacity: 0;
}
header ul{
    background-image: linear-gradient(to right top, #2BDB8F, aqua);
    background-color: yellow;
    list-style: none;
    width: 120px;
    position: absolute;
    height: 100vh;
    color: black;
    z-index: 10;
    right: calc(-13% - 128px - 80px);
    top: 0;
    padding: 60px 20px 20px 60px;
    box-shadow: -1px 0 10px #fff;
    transition: 0.3s;
}
header ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    transition: 0.3s ease-in;
}
header ul li:not(:last-child){
    margin-bottom: 60px;
}
header ul li a:hover{
    color: white;
}
.content{
    width: 90%;
    margin: auto;
    margin-top: 8.5vh;
}
.content .right{
    width: 60%;
    margin-top: 15vh;
}
.content .right h2{
    font-size: 40px;
    margin-bottom: 12px;
}
.content .right h2 span{
    color: white;
}
.content .right p{
    line-height: 1.8;
}
.content .left img{
    width: 75vw;
    border-radius: 50%;
    margin-left: 50px;
}
@media (max-width: 920px){
    .up{
        padding-bottom: 20px;
    }
    header img{
        width: 250px;
    }
    .content{
        flex-direction: column;
        margin-top: -40px;
    }
    .content .right{
        width: 100%;
    }
    .content .left img{
        margin: auto;
        position: relative;
        bottom: -10px;
    }
}
@media (max-width: 649px){
}
.services{
    margin-top: 120px;
    width: 85%;
    margin: 120px auto;
}
.service{
    margin-top: 50px;
    flex-wrap: wrap;
}
.services .service div{
    padding: 35px 0;
    flex-basis: 270px;
    height: fit-content;
}
.learned{
    width: 80%;
    margin: auto;
}
.learned h2{
    margin-bottom: 50px;
}
.learned > div > div .text h3{
    text-transform: uppercase;
}
.learned > div > div{
    flex-basis: fit-content;
}
.learned div div .text h3{
    background-color: rgb(241, 245, 248);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.learned div div .image img{
    width: 300px;
    height: 230px;
}
.about{
    width: 80%;
    margin: 100px auto 0;
    font-size: 15px;
}
.about h2{
    text-transform: capitalize;
}
.about p span{
    font-weight: bold;
    font-size: 20px;
}
.about .icons{
    width: fit-content;
    display: flex;
    margin: 7px auto 0;
}
.about .icons h3{
    margin-bottom: 7px;
    margin-top: 15px;
}
.about .icons a i{
    zoom: 1.5;
    color: #2BDB8F;
    padding: 0 10px;
    transition: 0.3s;
}
.about .icons a i:hover{
    scale: 1.5;

}

